*{
	margin: 0;padding: 0;
}
.q-bigbox{
	height: 1078px;
    background: url('../images/adverbg.png') no-repeat;
    background-size: 100% 100%;
}
.mainbox{
	text-align: center;
}
.logo{
	width: 6rem;
	margin: 0 auto;
	margin-top: 3rem;
}
.wenan{
	width: 25rem;
	margin: 1rem 0;
}
.xiazai{
	width: 12rem;
	margin: 5px 0;
}
.content{
	width: 100%;
	margin-top: 3rem;
}
.botbox{
	margin-top: 6rem;
	text-align: center;
}
.bottext{
	margin-top: 1rem;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	font-weight: 500;
}
.wxmodel{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.74);
  position: fixed;
  z-index: 1001;
  display: none;
}
.zhishi{
  width: 5rem;
  height: 7rem;
  position: absolute;
  right: 10px;
  top: 5px;
}
.yindaoyu{
  width: 20rem;
  position:absolute; 
  top: 8rem;
  left: 0;right: 0;
  margin: 0 auto;
}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){ /*iphone 6*/ }
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){ /*iphone 6 plus*/ }
