*{
	padding: 0;
	margin: 0;
}
.pages{
  width: 100%;
  position: relative;
}
.inback{
	width:100%;
	height: 100%;
}
.btnBox{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 550px;
  z-index: 10;
  /* border: 1px solid #000; */
}
.wxmodel{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.74);
  position: fixed;
  z-index: 1001;
  display: none;
}
.zhishi{
  width: 60px;
  height: 84px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.yindaoyu{
  width: 240px;
  position:absolute; 
  top: 100px;
  left: 0;right: 0;
  margin: 0 auto;
}