*{
    margin: 0;
    padding: 0;
}
.q-top-bigbox{
    width: 100%;
    height: 190px;
    position: relative;
}
.q-top-contentbox{
    width: 100%;
}
.q-top-backorfx{
    width: 100%;
}
.q-top-back{
    width: 10px;
    height: 18px;
    position: absolute;
    top: 33px;
    left: 15px;
    z-index: 2;
}
.q-top-fx{
    width: 22px;
    height: 22px;
    position: absolute;
    top:31px;
    right: 15px;
    z-index: 2;
}
.q-top-bg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
/* .q-top-gongsi{
    width: 60px;
    height: 60px;
    border-radius:4px;
    position: absolute;
    top: 160px;
    left: 15px;
    z-index: 2;
} */
.q-top-page{
    width:37px;
    height:17px;
    background:rgba(51,51,51,1);
    opacity:0.45;
    border-radius:9px;
    font-size:12px;
    font-family: PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:35px;
    position: absolute;
    top:158px;
    right: 15px;
    z-index: 2;
}
.q-jobDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    background:rgba(255,255,255,1);
    border-radius:10px 10px 0px 0px;
}
.q-block1{
    margin: 30px 15px 0;
    display: flex;
    justify-content: space-between;
}
.q-block1-left{
    display: flex;
    flex-direction: column;
}
.q-jobTitle{
    font-size:20px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:35px;
}
.q-joblimit{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:35px;
}
.q-jobaddress,.q-educational{
    padding-right: 7px;
    border-right: 1px solid rgba(221,221,221,1);
}
.q-competitivePower{
    margin-top: 20px;
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,150,30,1);
    line-height:35px;
}
.q-competitivePower img{
    width: 8px;
    height: 7px;
}
.q-block1-right{
    width:90px;
    height:80px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(153,153,153,0.2);
    border-radius:4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.q-salary{
    font-size:12px;
    font-family:Akrobat;
    /*font-weight:bold;*/
    color:rgba(255,167,40,1);
    line-height:35px;
}
.q-applynum{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,150,30,1);
    line-height:35px;
}
.q-partitionline{
    margin:25px 15px 0;
    width: auto;
    height: 1px;
    background:rgba(221,221,221,1);
}
.q-block{
    display: flex;
    flex-direction: column;
    margin: 25px 15px 0;
}
.q-Interviewtime,.q-workingAddress{
    display: flex;
    line-height:35px;
}
.q-successsee{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:35px;
}
.q-Interviewtime-title,.q-workingAddress-title{
    width: 110px;
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.q-miansidizhi,.q-workadd{
    display: inline-block;
    line-height: 25px;
}
.q-distance{
    margin-left: 65px;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.q-income img{
    width: 10px;
    height: 14px;
}
.q-income span{
    font-size:18px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:35px;
}
.q-incomenum{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(255,150,30,1);
    line-height:35px;
}
.q-income-title{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:35px;
}
.q-income-supplement{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-welfareLabel{
    width: max-content;
    height: 22px;
    overflow: hidden;
    margin: 0 10rpx 15rpx 0;
    padding: 5px;
    font-size: 12px;
    color: #2EA7E0;
    line-height: 12px;
    background-color: rgba(46,167,224,.2);
    border-radius: 2px;
    box-sizing: border-box;
}
.q-tSupplement{
    margin-top: 13px;
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-jobtime-box{
    display: flex;
    flex-direction: column;
}
.q-worktime-title{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
}
.q-workt{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-workwelfare{
    margin: 15px 0;
}
.q-worksupplement{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-fl{
    margin: 20px 0 13px 0
}
.q-operatingDuty{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.q-up{
    width: 11px;
    height: 6px;
    margin: 17px auto 0;
}
.q-recruitconten{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-sl{
    margin: 18px auto 0;
    width: 11px;
    height: 6px;
}
.q-gongsiSituation{
    display: flex;
    margin: 20px 0 25px 0;
}
.q-gongsitouxiang{
    width: 40px;
    height: 40px;
}
.q-gongsiSituation-box{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 15px;
    max-width: 250px;
}
.q-gsAbbreviation{
    display: inline-block;
    max-width: 100px;
    font-size:18px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.q-zizhi{
    display: inline-block;
    background:rgba(46,167,224,0.05);
    border:1px solid rgba(46,167,224,1);
    border-radius:2px;
    font-size:10px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
}
.q-name{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
}
.q-gs{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:35px;
}
.q-gsregion,.q-scale{
    padding-right: 7px;
    border-right: 1px solid rgba(221,221,221,1);
}
.q-nexticon{
    width: 9px;
    height: 17px;
    margin-top: 20px;
}
.q-division{
    width: 100%;
    height: 10px;
    background: rgb(240, 240, 240)
}
.q-requirement{
    display: flex;
    flex-direction: column;
}
.q-requirement-box{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.q-requirement-title{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:17px;
}
.q-r-edu,.q-r-age,.q-r-exp{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:17px;
}
.q-r-accordNo{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,150,30,1);
    line-height:17px;
}
.q-r-accord{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(6,193,68,1);
    line-height:17px;
}
.q-publisher{
    display: flex;
    width: 100%;
    margin: 10px 0 25px 0;
}
.q-p-touxiang{
    width: 42px;
    height: 42px;
}
.q-p{
    margin-left: 11px;
    width: 280px;
}
.q-p-name{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.q-active{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.q-p-next{
    width: 9px;
    height: 16px;
   margin-top: 10px;
}
.q-p-position{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.q-position-box{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.q-positiondetails{
    display: flex;
    flex-direction: column;
}
.q-position-name{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-position-Situation{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-position-region,.q-position-years,.q-position-edu{
    padding-right: 7px;
    border-right: 1px solid rgba(221,221,221,1);
}
.q-position-label{
    background:rgba(248,248,248,1);
    border-radius:2px;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
}
.q-interview-t{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-interview-t-content{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
}
.q-interview-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.q-interview-right-xz{
    font-size:16px;
    font-family:PingFang SC;
/*    font-weight:bold;*/
    color:rgba(255,150,30,1);
    line-height:20px;
}
.q-interview-right-ren{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-interview-right-num{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
}
.q-tips{
    display: flex;
    align-items: center;
}
.q-tips img{
    width: 22px;
    height: 22px;
}
.q-tips span{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(255,76,76,1);
    line-height:20px;
    margin-left: 7px;
}
.q-ts-content{
    margin: 15px 0 16px 0;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-bottom-btn{
    display: flex;
}
.q-btn-online,.q-btn-sq{
    width: 50%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,1);
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:17px;
}
.q-btn-online img{
    width: 14px;
    height: 14px;
    margin-right: 7px;
}
.q-btn-sq{
    color:rgba(255,255,255,1);
    background:rgba(46,167,224,1);
}
#zhiweifabuzhe,#xiangsizhiwei{display: none;}