*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
.q-bigbox{
    width: 100%;
    height: 100vh;
    background: url('../images/bg5.png') no-repeat;
    background-size: cover;
    overflow-y: scroll;
    padding-top: 50px;
}
.q-back-box{
    height: 30px;
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    display: none;
}
.q-top-back{
    width: 10px;
    height: 17px;
}
.q-top-h2{
    width: 240px;
    /*height: 34px;*/
    margin: 10px auto 0;
}
.q-top-h2 img,.q-top-title img{
    width: 100%;
}
.q-top-title{
    width: 195px;
    height: 47px;
    margin: 10px auto 0;
}
.q-top-current{
    width:160px;
    height:29px;
    font-size:14px;
    font-family:PingFang;
    font-weight:400;
    color:#fff;
    background:#FEA54D;
    border:2px solid #fff;
    border-radius:15px;
    margin: 13px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.q-block1{
    margin-bottom: 80px;
}
.q-choujiangqu-box{
    margin: 20px auto;
    width: 325px;
    height: 325px;
    background: url('../images/choujiangqu2.png') no-repeat; 
    background-size: 100%;
    overflow: hidden;
}
.q-choujiangqu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 15px;
}
.q-choujiangqu li{
    width: 32%;
    height: 88px;
    background:#fff;
    border-radius:20px;
    /* flex-shrink:0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    border-bottom: 6px solid rgba(255,140,104,1);
}
#q-choujiang-btn div{
    margin-top: 15px;
}
.q-choujiangqu li img{
    width: 50px;
    height: 50px;
    margin-top: 3px;
}
.q-choujiangqu li span{
    font-size:12px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(153,153,153,1);
    line-height:38px;
}
.q-choujiang-column{
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
}
.q-choujiang-column img{
    width: 16px;
    height: 48px;
}
#q-choujiang-btn{
    background:rgba(253,180,103,1);
    box-shadow:0px 0px 5px 0px rgba(254,217,139,1);
    border-radius:20px;
    font-size: 24px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(255,255,255,1);
    /* line-height:36px; */
}
#q-active{
    background: rgba(189,241,255,1);
}
#q-choujiang-btn span{
    font-size:10px;
    font-weight:400;
    color:rgba(242,110,0,1);
/*    margin-top: 10px;*/
}
.q-zhongjiangqu-box{
    width: 325px;
    height: 215px;
    margin: 40px auto;
    background: #F16C43;
    border-radius: 18px;
    /*background: url('../images/zhongjiangqu.png') no-repeat;*/
    /*background-size: 100%;*/
    /*overflow: hidden;*/
}
.q-zhongjiangqu-title{
    width: 179px;
    height: 31px;
    background: url('../images/juxing2.png') no-repeat center;
    background-size: contain;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15px);
}
.q-zhongjiangqu-title span{
    font-size:16px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:31px;
}
.q-zhongjiangqu-title img{
    width: 8px;
    height: 8px;
}
.q-zhanshi-box{
    overflow: hidden;
}
.q-zhongjiang-conten{
    height: 180px;
    margin: 0 0 0 26px;
    font-size:12px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:20px;
    position: relative;
    overflow: hidden;
}
.q-zhongjiang-conten p{
    animation: zhongjiang 5s linear infinite;
}
@keyframes zhongjiang {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
    40% {
        transform: translateY(-45px)
    }
    60% {
        transform: translateY(-70px)
    }
    80% {
        transform: translateY(-95px)
    }
    100% {
        transform: translateY(-120px)
    }
}

.q-dialog{
    display: none;
    width: 200px;
    height: 100px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-100px);
    z-index: 9;
}
.q-dialog-content,.q-dialog-btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.q-dialog-btn{
    border-top: 1px solid black;
    height: 40px;
    font-size: 14px;
}
.q-zhe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(190, 190, 190, 0.562);
    display: none;
}