*{
    margin: 0;
    padding: 0;
}
.q-bigbox{
    width: 100%;
    height: 100%;
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.q-top-logo{
    width: 101px;
    height: 24px;
    margin:15px 0 0 15px;
}
.q-top-logo img,.q-top-title img,.q-photo img{
    width: 100%;
}
.q-top-title{
    width: 245px;
    /*height: 110px;*/
    margin: 20px auto 0;
}
.q-photo{
    width: 322px;
    height: 310px;
    margin: 25px auto 0;
}
.q-bottom{
    width: 100%;
    position:fixed;
    bottom: 0;
    height: 70px;
    background: #fff;
    text-align: center;
    z-index: 1000;
}
.q-bottom input{
    width: 70%;
    height: 40px;
    border: 1px solid #dcdcdc;
    background: #eee;
}
.q-bottom input::-webkit-input-placeholder{
    text-align: center;
    font-size:12px;
    font-weight:400;
    color:#ccc;
}
.q-bottom button{
    display: inline;
    margin-top: 15px;
    width: 20%;
    height: 40px;
    background:rgba(46,167,224,1);
    border-radius:4px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    border: none;
}
.content{
    width: 100%;
    margin-bottom: 80px;
}
.content-item{
    width: 95%;
    height: 110px;
    background: #fff;
    border-radius: 16px;
    margin: 5px auto;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
}
.content-item-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content-item-left-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}
.content-item-left-top img{
   width: 60px;
   height: 60px;
   margin-right: 10px; 
}
.content-item-left-top h3,.content-item-left-top p{
   width: 75%;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.content-item-left-top p{color: #666;}
.content-item-left-bottom{margin: 2px;}
.q-position-label{
    background:rgba(248,248,248,1);
    border-radius:2px;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
    margin-right: 5px;
}
.content-item-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
}
.content-item-right h3{
    font-size: 12px;
    color: #ff961e;
}
.m_reward,.w_reward,.r_reward{
  /* display: inline-block; */
  width: 70px;
  font-size: 12px;
  padding: 3px 0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  margin: 1px;
}
.m_reward{
  border: 1px solid #45B3E6;
  color: #45B3E6;
}
.w_reward{
  border: 1px solid #FF6E6D;
  color: #FF6E6D;
}
.r_reward{
  border: 1px solid #FF961E;
  color: #FF961E;
}