*{
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 210px;
}

.swiper-container2 {
    /* width: 100%; */
    height: 50px;
    overflow: hidden;
    margin: 5px 15px;
}
.swiper-slide{
    width: 100%;
    display: flex;
    align-items: center;
}
.swiper-container .swiper-slide img{
    width: 100%;
    height: 100%;
}
.q-top-bigbox{
    width: 100%;
}
.q-top-option{
    margin: 20px 18px 15px;
    display: flex;
    justify-content: space-between;

}
.q-top-option img{
    width: 40px;
    height: 40px;
}
.q-top-option p{
    font-size:12px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
    margin-top: 10px;
}
.q-top-option-1,.q-top-option-2,.q-top-option-3,.q-top-option-4,.q-top-option-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.q-partitionline{
    margin:25px 15px 0;
    width: auto;
    height: 1px;
    background:rgba(221,221,221,1);
}
.q-headlines{
    width: 64px;
    height: 16px;
}
.q-headlines-label{
    width: 24px;
    padding: 2px 4px;
    font-size:12px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
    border:1px solid rgba(46,167,224,1);
    border-radius:2px;
    margin: 0 8px 0 15px;
    white-space:nowrap;
}
.q-headlines-title{
    margin-left: 10px;
    display: inline-block;
    max-width: 220px;
    font-size:14px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.q-division{
    width: 100%;
    height: 10px;
    background: rgb(240, 240, 240)
}
.q-tabbox{
    margin: 16px 20px;
    display: flex;
    justify-content: space-between;
}
.q-tab1,.q-tab2,.q-tab3,.q-tab4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.q-tab-title{
    font-size:14px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-down-triangle{
    margin-left: 5px;
    width: 0; 
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:rgb(175, 175, 175) transparent transparent transparent;
}
.q-maxline{
    width: 100%;
    height: 1px;
    background: rgba(221,221,221,1);
}



.q-position-box{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.q-positiondetails{
    display: flex;
    flex-direction: column;
}
.q-position-headr{
    position: relative;
    display: flex;
    margin-bottom: 10px; 
}
.q-position-portrait{
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.q-position-name{
    max-width: 220px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.q-position-company{
    max-width: 210px;
    font-size:14px;
    font-family:PingFang;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.q-position-Situation{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-position-region,.q-position-years,.q-position-edu{
    padding-right: 7px;
    border-right: 1px solid rgba(221,221,221,1);
}
.q-position-label{
    max-width: 72px;
    background:rgba(248,248,248,1);
    border-radius:2px;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right: 10px;
}
.q-interview-t{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-interview-t-content{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
}
.q-interview-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.q-interview-right-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.q-interview-right-xz{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(255,150,30,1);
    line-height:20px;
}
.q-interview-right-type{
    font-size:10px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(255,172,76,1);
    line-height:20px;
    border:1px solid rgba(255,172,76,1);
    border-radius:2px;
    display: none;
}
.q-interview-right-type2{
    display: none;
    font-size:10px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(112,204,112,1);
    line-height:20px;
    border:1px solid rgba(112,204,112,1);
    border-radius:2px;
}
.q-interview-man{
    font-size:10px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(69,179,230,1);
    line-height:20px;
    border:1px solid rgba(69,179,230,1);
    border-radius:2px;
    margin-right: 5px;
}
.q-interview-women{
    font-size:10px;
    font-family:PingFang;
    font-weight:bold;
    color:rgba(255,110,109,1);
    line-height:20px;
    border:1px solid rgba(255,110,109,1);
    border-radius:2px;
    margin-right: 5px;
}
.q-interview-tuijian{
    font-size:10px;
    font-family:PingFang;
    font-weight:bold;
    color: #FF961E;
    line-height:20px;
    border: 1px solid #FF961E;
    border-radius:2px;
}
.q-interview-right-ren{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.q-interview-right-num{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(46,167,224,1);
    line-height:20px;
}
.q-position-block,.q-position-block-top{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 0;
}
.headrtoutiao, .headrtoutiao2{
  width: 26px;
  height: 14px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.q-recommend-set{
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-family: PingFang;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 20px;
    position: relative;
}
.q-recommend-set img{
    width: 100%;
    height: 60px;
}
.q-recommend-set-textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dianwoshezhi{
    color: #2EA7E0;
}
.pugongicon, .fuwenben{
    width: 16px;
    height: 16px;
}
.hoticon{
    width: 14px;height: 16px;
}

